/*   

Theme Name: Dorayaki Child

Theme URI:

Description: Modifies the Dorayaki Theme for Nina

Author: Matthew Campbell

Author URI: http://www.extrashotmarketing.co.nz/

Template: dorayaki

Version: 1.0

Tags: Dorayaki Child Theme

*/



/* Import the stylesheet from the Dorayaki parent theme */

@import url('../dorayaki/style.css');



/* 

Now you can start adding your own styles here. Use !important to overwrite styles if needed. */



.responsive-slider.flexslider .slide h2.slide-title a {

	font-size: 7px;

	font-size: 0.45rem;

	font-weight: 400;

}



@media screen and (min-width: 430px) {

	/* --- Header Image / Slider --- */

	.responsive-slider.flexslider .slide h2.slide-title a {

		font-size: 10px;

		font-size: .6rem;

	}

}



@media screen and (min-width: 600px) {

	/* --- Header Image / Slider --- */

	.responsive-slider.flexslider .slide h2.slide-title a {

		font-weight: 900;

	}

}



@media screen and (min-width: 1180px) {

	.menu-header-widget-container {

		display: inline;

		width: 1180px;

	}
    /* --- Header Image / Slider --- */

	.responsive-slider.flexslider .slide h2.slide-title a {

		font-size: 24px;

		font-size: 1.5rem;

	}
    
    
}


@media screen and (min-width: 1260px) {

	.menu-header-widget-container {

		display: inline;

		width: 1260px; 

	}

	#site-nav {
        
        display: inline-block !important;

		padding: 0px 30px 0px; /*0;*/

		margin-top: 139px;

	}

	#site-title {

		padding: 15px 0;

	}

}

@media screen and (min-width: 1280px) {

	.menu-header-widget-container {

		display: inline;

		width: 1280px; 

	}

	#site-nav {
        
        display: inline-block !important;

		padding: 0px 30px 0px; /*0;*/

		margin-top: 139px;

	}

	#site-title {

		padding: 15px 0;

	}

}